/* 查询模块基础样式*/
.m-query-block {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100%;
    line-height: 1;
}
/* 表格模块基础样式*/
.m-table-box {
    position: relative;
    display: inline-block;
}
/* 弹框模块基础样式*/
.m-dialog-line {
    margin-bottom: 10px;
}

.m-dialog-footer-out-box {
    padding: 10px;
}
