/* 输入框默认样式*/
.el-input {
    width: 160px;
    .el-input__inner {
        height: 28px;
        padding: 0 0 0 10px;
        font-size: 12px;
        color: #666;
        border: 1px solid #ccc;
    }
}
/* 时间范围选择器默认样式*/
.el-date-editor--daterange {
    width: 175px;
}
/* 按钮默认样式*/
.el-button {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    background-color: #fff;
}
/* dialog重置显示位置*/
.el-dialog {
    transform: translate(-50%, -50%);
}
/* dialog重置头部样式*/
.el-dialog__header {
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #48aeec;
}
/* dialog重置title样式*/
.el-dialog__title {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}
/* dialog重置关闭按钮样式*/
.el-dialog__headerbtn {
    margin-top: 8px;
    .el-dialog__close {
        font-size: 12px;
        color: #fff;
    }
}
/* dialog-body重置样式*/
.el-dialog__body {
    padding: 10px;
}
/* dialog-footer样式重置*/
.el-dialog__footer {
    height: auto;
    padding: 0;
    background-color: #f5f5f5;
}
/* 表格样式重置*/
.el-table {
    border: 1px solid #ccc;
    font-size: 12px;
    color: #333;
    .linkColumn {
        color: #72ACE3;
        cursor: pointer;
    }
    th {
        background-color: #eee;
        height: 32px;
        .cell {
            line-height: 32px;
            font-size: 12px;
            font-weight: normal;
        }
    }
    td {
        height: 28px;
        .cell {
            line-height: 28px;
            white-space: nowrap;
        }
    }
    th,
    td {
        box-sizing: border-box;
    }
    .cell,
    th>div {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.el-table--fit {
    border-right: 0;
    border-bottom: 0;
}
.el-table--enable-row-hover .el-table__body tr {
    &:hover>td {
        background: #eee;
    }
}
.el-table .el-table__body tr.current-row {
    >td {
        background: #d8f0fa;
    }
}
.el-table td,
.el-table th.is-leaf {
    border-bottom: 1px solid #ccc;
}
.el-table--border td,
.el-table--border th {
    border-right: 1px solid #ccc;
}
.el-table__footer-wrapper thead div,
.el-table__header-wrapper thead div {
    background-color: #eee;
    color: #333;
    font-weight: 300;
    font-size: 12px;
}
.el-table::after,
.el-table::before {
    background-color: #ccc;
}
/* 分页样式重置*/
.el-pagination {
    float: right;
    margin-top: 16px;
}
